@keyframes show {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.profiles {
    animation: show 1s ease-in-out;
    margin: auto auto 120px;
}

.title {
    text-align: center;
    margin-bottom: 20px;

    font-family: "Bahnschrift", serif;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
}

